@model DeepChecks.Models.Relationship.RelationshipListItem

@{
    ViewBag.Title = "Relationship's Deep Checks";
}

<h2>List of Deep Checks</h2>

<div>
    <h4>RelationshipListItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RelationshipId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelationshipId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RelationshipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelationshipName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RelationshipId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
