@model DeepChecks.Models.Entry.EntryDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EntryDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EntryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParticipantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParticipantId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EntryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
