@model IEnumerable<DeepChecks.Models.Entry.EntryListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">

    @foreach (var item in Model)
    {
        if (item.CategoryId == 1)
        {
            <tr>
                <th>Things I'm Doing Well</th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryContent)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EntryId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EntryId })
                </td>
            </tr>
        }

        if (item.CategoryId == 2)
        {
            <tr>
                <th>Things You're Doing Well</th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryContent)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EntryId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EntryId })
                </td>
            </tr>
        }

        if (item.CategoryId == 3)
        {
            <tr>
                <th>Things I Need More Of</th>
            </tr>
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntryContent)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EntryId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EntryId })
            </td>
            </tr>
        }
    }


</table>
