@model DeepChecks.Models.Check.CheckListItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CheckListItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CheckId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CheckId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
